### Maven ###
target/
*.log
*.jar
!/.mvn/wrapper/maven-wrapper.jar

### Security (CRÍTICO) ###
.env
.env.local
secrets.properties

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### VS Code ###
.vscode/

### OS / Misc ###
.DS_Store
Thumbs.db