spring:
  application:
    name: ms-user
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT}/ms-user?serverTimezone=America/Sao_Paulo
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration
  rabbitmq:
    host: ${RABBIT_HOST:localhost}
    port: 5672
    username: ${RABBIT_USER}
    password: ${RABBIT_PASS}

server:
  port: 8081

broker:
  queue:
    email:
      name: default.email.queue