spring:
  application:
    name: user
  datasource:
    url: jdbc:postgresql://localhost:5432/ms-user
    username: postgres
    password: 123
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

server:
  port: 8081

broker:
  queue:
    email:
      name: default.email.queue